<h1><%= @post.title %></h1>
<p><%= @post.content %></p>

<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<% @post.comments.each do |comment| %>
  <p><%= comment.user.username %> says <%= comment.content %></p>
<% end %>

<%= form_for(@post.comments.build) do |f| %>
  <%= f.label "Leave a Comment" %><br><br>
  <%= f.collection_select :user_id, User.all, :id, :username %><br>
  <%= f.text_area :content %>
  <%= f.hidden_field :post_id %>
  <%= f.submit %>
<% end %>
