<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.user %></li>
    <li><%= comment.content %></li>
  <% end %>
</ul>

<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>
