<h1><%= @post.title %></h1>

<p><%= @post.content %></p>

<ul>
  <% @post.comments.each do |comment| %>
    <li><%= comment.user %></li>
    <li><%= comment.content %></li>
  <% end %>
</ul>

<ul>
  <% @post.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>


<% @post.comments.each do |comment| %>
  <%= comment.user %>
  <%= comment.content %>
<% end %>

<%= form_for(@comment) do |f| %>
  <%= f.label "Leave a Comment" %><br><br>
  <%= f.collection_check_boxes :user_id, User.all, :id, :username %><br>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>
